<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <h1>You Searched For : Stuff <%= data.userQuery %></h1>
        <% if(data.loggedIn){ %>
            <h2> You are logg in as : <%= data.username %> </h2>
        <% } %>
        <ul>
            <% data.searchResults.forEach(result=>{ %>
                <li> <%= result %> </li>
            <% }); %>
        </ul>

        <script src="/public/js/example.js"></script>
    </div>
</div>
